# Ignore all files by default
*
# Allow the .gitignore file itself
!.gitignore

!*/

# Ada
!*.adb
!*.ads

# C
!*.c
!*.h

# C#
*.cs
!Program.cs

# D
!*.d

# Go
!*.go

# Java
!*.java

# JavaScript
!*.js
!*.jsx

# Nim
!*.nim

# Python
!*.py

# PHP
!*.php

# Rust
!*.rs

# Zig
!*.zig

# OCaml
!*.ml

# Fortran
!*.f90

# Pascal
!*.pas

!*.sh